golf
*.o
*.d
my_output.txt
my_stderr.txt
my_stdout.txt

# symlinks for reference_output.sh
golf_reference

# symlink to provided test script
/run

# this ffs god I hate vscode
/.vscode/

# a file for me to try stuff in
/t
